$green: #5ECC74;

header {
    background: $green;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 8px solid rgba(255,255,255,0.5);

    h1 {
        margin: auto 0;

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    background: #212121;
    color: #fff;
}

h3 {
    margin: 15px 0;
}

.container {
    display: flex;
    flex-flow: column wrap;

    align-items: center;

    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background: #343434;
        border-radius: 25px;
        padding: 10px 20px 40px 20px;

        .bookmark {
            color: #fff;
        
            transition: all 0.2s ease;
            box-sizing: border-box;
            border-radius: 25px;
            padding: 6px;

            display: flex;
            flex-direction: column;
        
            &:hover {
                // background: rgba(255,255,255,0.1);
                // transform: translate(0, -2px);
                transform: scale(1.03);
            }

            img {
                width: 80px;
                height: 80px;
                // margin: 0 auto;
                border: 4px #333;
                background: #ffffff;
                border-radius: 25px;
                margin: 6px;
                padding: 6px;
            }
        
            a {
                font-size: 0.8rem;
                font-weight: 500;

                position: absolute;
                padding-top: 92px;
            
                width: 100%;

                text-align: center;
                line-height: 1em;                
                color: #fff;
                text-decoration: none;
                font-family: 'Roobert TRIAL', Arial, Helvetica, sans-serif;
                max-width: 90px;
            }
        } 



    }


    


}


